In [11]:
import numpy as np
import pandas as pd

In [12]:
all_chds = pd.read_csv('all_chords.csv')

In [13]:
def countRowsByChordTypeRootNumstrings(df, chordType, root, numStrings):
    if numStrings != '*':
        return df[(df['ChordType'] == chordType) & (df['Root'] == root) & (df['NumStrings'] == numStrings)].shape[0]
    else:
        return countRowsByChordTypeRoot(df, chordType, root)

def countRowsByChordTypeRoot(df, chordType, root):
    return df[(df['ChordType'] == chordType) & (df['Root'] == root)].shape[0]

In [36]:
root = 'A'
chordType = 'Minor' # Can be 'Major', 'Minor', 'Dom7', 'Major7', 'Minor7'
numStrings = "*" # Can be 3, 4, 5, 6 or '*' 
f = countRowsByChordTypeRootNumstrings(all_chds, chordType, root, numStrings)
f

1090

## DF transformation for indexing chords

In [3]:
from transformChord import transformDFtoIndexable

df_tmp = transformDFtoIndexable('all_chords.csv', 6)

In [4]:
df_tmp.head()

,LETTER,TYPE,INVERSION,STRINGONE,STRINGTWO,STRINGTHREE,STRINGFOUR,STRINGFIVE,STRINGSIX,SHAPE
761,A,Major761,0,5.0,4.0,2.0,2.0,2.0,5.0,761
762,A,Major762,0,9.0,0.0,2.0,2.0,2.0,5.0,762
763,A,Major763,0,5.0,4.0,7.0,6.0,5.0,5.0,763
764,A,Major764,0,5.0,4.0,7.0,6.0,10.0,0.0,764
765,A,Major765,0,5.0,4.0,7.0,9.0,2.0,5.0,765

In [6]:
df_tmp.to_csv('all_chords_sixstrings.csv', index=False)

In [9]:
# write a function to get an array [String1, String2, String3, String4, String5, String6] from a row in the dataframe based on root and chordType

def getChordArray(df, root, chordType):
    return df[(df['LETTER'] == root) & (df['TYPE'] == chordType)].values[0][3:9]

In [10]:
getChordArray(df_tmp, 'A', 'Major763')

array(['5.0', '4.0', '7.0', '6.0', '5.0', '5.0'], dtype=object)